body {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    width: 34.375em;
    padding: 2.5em 7.5em;
    background-color: #23252C;
    color: #DCDCDC;
}

.main {
    margin: 0 auto;
    width: 20em;
    background-color: #1A1B21;
    border-radius: 10px;
}

.profile-pic {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6b4f05c5-d0e0-4e38-871a-7df584d1d77c/d4r8xfk-b03d8e6f-25ed-4590-ab46-cb35f3b322a3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZiNGYwNWM1LWQwZTAtNGUzOC04NzFhLTdkZjU4NGQxZDc3Y1wvZDRyOHhmay1iMDNkOGU2Zi0yNWVkLTQ1OTAtYWI0Ni1jYjM1ZjNiMzIyYTMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.s_PTD0kght95pAtwQUfpNcbbvHJsRV-8Vk-kUg7DOV8");
    border-radius: 10px 10px 0px 0px;
    padding: 10em;
    background-position-x: -50px;
}

/* info component */

.info {
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
}

.info>p {
    color: #F3BF99;
}

.info-icon {
    margin: 0 .5em;
}

a {
    color: #F3BF99;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* About and Interests components */

.article {
    margin: 0 auto;
    font-size: .75rem;
    padding: 2.0625em 2.25em;
}

/* Footer component */

.footer {
    background-color: #161619;
    padding: 1em;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.icon {
    margin: 0 1em;
}

.icon:hover,
.icon:focus {
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 #fff
}

/* typography */

p {
    color: #DCDCDC;
}

h1 {
    font-size: 1.5rem;
}

h1 h3 {
    font-weight: 700;
}

/* buttons */

button {
    min-width: 10em;
    min-height: 2em;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0 solid #D1D5DB;
    border-radius: 6px;
}

button:hover,
.icon:hover {
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.btn-white {
    color: #374151;
    margin-right: .75em;
}

.btn-white:hover,
.btn-white:focus {
    box-shadow: 0 4px 15px 0 #FFFFFF
}

.btn-blue {
    color: #FFFFFF;
    background: #5093E2;
}

.btn-blue:hover,
.btn-blue:focus {
    box-shadow: 0 4px 15px 0 #5093E2
}